*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
 


#gameArea {
    background-image: url(../image/road2.jpg);
    background-size: 500px 500px; 
    background-position: top center;
    width: 500px;
    height: 650px;
    margin: 0 auto;
    position: relative; /* Para que mi pista sea mi referencia en las coordenadas 0.0*/
    overflow: hidden;
    background-repeat: repeat-y;
    
}
.animate{
    animation: animatedBackground 1s linear infinite;/* Para que mi pista sea mi referencia en las coordenadas 0.0*/
}
/* level 1 */
@keyframes animatedBackground {
	
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 500%;
    }
}
 

.start{
    position: absolute;
    left: 45%;
    top: 50%;
    font-size: 20px;
}

.restart {
    position: absolute;
    left: 45%;
    top: 50%;
    font-size: 20px; 
}

.player {
    background-image: url(../image/cars3.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 110px;
}

.car{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 110px;
}

.player.explosion {
    background-image: url(../image/explosion-animation-1.gif);
}


.car.game-over{
    background-image: url(../image/game-over.gif);
}
