*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
 body{
 overflow: hidden;
}
/*header{
    color:#ffffff;
    text-align: center;
    font-family: 'Mansalva', cursive;
    font-size: 30px;
}

.container{
    display: inline-block;
    color: #ffffff;
} */

#gameArea {
    background-image: url(../image/road2.jpg);
    background-size: cover; 
    background-position: top center;
    max-width: 500px;
    height: 650px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    background-repeat: repeat-y;
    animation: animatedBackground 1s linear infinite;/* Para que mi pista sea mi referencia en las coordenadas 0.0*/
}

@keyframes animatedBackground {
	
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 600%;
    }
}

@keyframes animatedBackground2 {
	
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 2000%;
    }
}


.start{
    position: absolute;
    left: 45%;
    top: 50%;
    font-size: 20px;
}

.player {
    background-image: url(../image/cars3.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 120px;
}

.car{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 60px;
    height: 120px;
    margin: 10px;
}

/* 
.car div {
    position: absolute;
    
}

.car div:nth-child(1){
    left: 0%;
}
 */

