:root {
    --title-font: 'Underdog', cursive;
    --main-orange: #F28D35;
    --ligth-orange: #f77503;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:visited,
a:link {
    color: inherit;
}

/* Main container styles */
.main-container {
    background-image: url(../image/arcade3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 225px auto 40px;
}

.header-container {
    grid-row: 1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.main-content {
    grid-row: 2;
    display: grid;
    justify-items: center;
    align-items: center;
}

.footer-container {
    grid-row: 3;
    display: grid;
    justify-items: center;
    align-items: center;
}

footer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:  flex-end;
    color: #000000;
    text-align: right;
    font-weight: bolder;
    font-size: 20px;
}

footer p {
    margin-right: 30px;
}

.main-title a {
    font-size: 100px;
    color: var(--main-orange);
    text-shadow: 5px 6px #000000; 
}

.letter-o {
    width: 42px;
    position: relative;
    width: 42px;
    top: 8px;
    left: 3px;
    /* animation: rotateTire .8s linear infinite; */
    /* backface-visibility: hidden */
}
